
#demo,.input{
background-color:#008CBA;
color: white;
padding: 30px;

border-radius: 4px;
border: 1.8px solid black;
font-size:18px;

}


.container{
border: 2px solid #008CBA;
padding: 30px;
border-radius:25px;
font-family: 'Teko',sans-serif;
background-color:	steelblue;

}

.container:hover{
background-color: cadetblue;
border: none;
color: white;
font-family: 'Teko', sans-serif;
border-radius: 30px;
}
#btn,h1{
padding: 10px 26px ;

border: none;
background-color: #008CBA;
font-size: 22px;
color: white;
border-radius: 4px;
cursor: pointer;
font-family: 'Teko', sans-serif;
border: 2px solid black;

}
.btndiv{margin: auto;
width: 65%;

}
#btn:hover{
background-color: white;
color: Tomato;
border: 2px solid #008CBA;
}
#demo:hover{
background-color:#ADD8E6;
color: #008CBA;
border: 2px solid #008CBA;
}
#genre{
padding:4px 16px;
border: none;
margin-bottom: 10px;}
select{
padding:4px 75px;
border: none;
font-size: 18px;
font-family: 'Teko', sans-serif;
margin-bottom: 13px;
cursor: pointer;
}
body{display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/123740332/original/60547d6091e5c71dfb5cf8e0841c7d3d77f89ae2/create-anime-background-style.jpg);
    background-size: cover;
    

}
